@use "../libs/vars";

#about {
  background-color: vars.$primary-darkblue;
  overflow: hidden;
  color: vars.$white;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;

  img {
    max-width: 470px;
  }
}

.about-content div {
  flex: 1;
}

.about-description {
  h2 {
    font-size: 38px;
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 14px;
    line-height: 150%;
  }

  a {
    color: vars.$white;
    text-decoration: underline;
    margin: 5px;
  }
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}
